
<h1>Offline proof of concept</h1>
    <button ng-click="main.resetData()" class="btn btn-primary">Clear data</button>
    <button ng-click="main.storeImages()" class="btn btn-primary" ng-show="!main.storingImages">
        Store images test (max quota text)
    </button>
    <button ng-click="main.storeImages()" class="btn btn-primary" ng-show="main.storingImages">
        Stop storing images
    </button>
    <button ng-click="main.getDBSize()" class="btn btn-primary">
        Get total db size (may take a while)
    </button>
    <br /><br />
    <div class="alert alert-info">
        <ul>
            <li ng-repeat="message in main.dblog" ng-bind="message"></li>
        </ul>
    </div>
</div>