
<h1>Offline proof of concept</h1>
    <button ng-click="main.resetData()" class="btn btn-primary">Clear data</button>
    <button ng-click="main.storeImages()" class="btn btn-primary" ng-show="!main.storingImages">
        Store images test (max quota text)
    </button>
    <button ng-click="main.stopStoringImages()" class="btn btn-primary" ng-show="main.storingImages">
        Stop storing images
    </button>
    <button ng-click="main.getDBSize()" class="btn btn-primary">
        Get total db size
    </button>
    <br /><br />
    <p class="alert alert-info" ng-show="main.totalDBSize>0">
        This may take a while, depending on the size. <br />
        Hint: Only the size of the blobs is being counted. <br />
        <b>Total size</b>: {{main.totalDBSize | bytes}}
    </p>
    <div class="alert alert-info max-height">
        <ul>
            <li ng-repeat="message in main.dblog track by $index" ng-bind="message"></li>
        </ul>
    </div>
</div>