<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <title>Offline proof of concept</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body ng-app="offlinePoc">
    Online layout loaded.
    <div ng-view></div>
    <script type="application/javascript" src="./bower_components/angular/angular.min.js"></script>
    <script type="application/javascript" src="./bower_components/angular-route/angular-route.min.js"></script>
    <script type="application/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="application/javascript" src="./bower_components/localforage/dist/localforage.min.js"></script>
    <script type="application/javascript" src="./bower_components/angular-localforage/dist/angular-localForage.min.js"></script>
    <script type="application/javascript" src="./app.js"></script>
    <script type="application/javascript" src="./app.config.js"></script>
    <script type="application/javascript" src="./app.route.js"></script>
    <script type="application/javascript" src="./controllers/main-controller.js"></script>
    <script type="application/javascript" src="./upup.min.js"></script>
    <script>
          console.log("starting up");
          UpUp.debug();
          UpUp.start({ 
          'content-url': '/offlineApp/offline.html', // show this when the user is offline
          'assets': [                 // define additional assets needed while offline:
            '/stylesheets/style.css',        // custom stylesheets,
            '/offlineApp/css/offline.css',        // custom stylesheets,
            './bower_components/angular/angular.min.js',
            './bower_components/angular-route/angular-route.min.js',
            './bower_components/localforage/dist/localforage.min.js',
            './bower_components/angular-localforage/dist/angular-localForage.min.js',
            '/offlineApp/views/main.html',
            '/offlineApp/app.js',
            '/offlineApp/app.config.js',
            '/offlineApp/app.route.js',
            '/offlineApp/js/main-controller-v0.0.1.js'
          ],
          'service-worker-url': './upup.sw.min.js'
          });
    </script>
  </body>
</html>
