<h1>Proof of concept seems to work!</h1>
<button ng-click="main.getDBSize()" class="btn btn-primary">
    Get total db size
</button>
<br /><br />
<p class="alert alert-info" ng-show="main.totalDBSize>0">
    Hint: Only the size of the blobs is being counted. <br />
    <b>Total size</b>: {{main.totalDBSize | bytes}}
</p>
<br />
<div class="alert alert-info">
    <ul>
        <li ng-repeat="item in main.items">
            <b>ITEM</b>: surrogateId: {{item.surrogateId}}, name: {{item.name}}
        </li>
    </ul>
</div>
<br />
<div class="alert alert-info" ng-show="main.images.length>0">
    First 10 images are shown below: <br />
    <img data-ng-src="{{image}}" class="img-responsive max-size inline-block" ng-repeat="image in main.images | limitTo:10 track by $index ">
</div>